@inject IJSRuntime js
@inject NavigationManager navigationManager
@using System.Globalization



<strong>Cultura:</strong>

<select @bind= "cultura">

@foreach(var item in culturas)

{
    <option value="@item">@item.DisplayName</option>

}

</select>

@code {
    CultureInfo[] culturas = new[]
       {
            new CultureInfo("en-US"),
             new CultureInfo("es-ES")
        };

    CultureInfo cultura

    {
        get  => CultureInfo.CurrentCulture;//Culura Actual
        set
        {
            if (CultureInfo.CurrentCulture != value)//Distinto Valor Actual 

            { //Programacion sincrona
                var jsInProccessRuntime = (IJSInProcessRuntime)js;
                jsInProccessRuntime.InvokeVoid("cultura.set", value.Name);
            }
           
            navigationManager.NavigateTo(navigationManager.Uri, forceLoad: true);
                }

      }
}
